body {
    background-color: var(--background);
}

header {
    background-color: var(--main);
    width: 100%;
    display: flex;
    justify-content: space-between;

}

nav {
    width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}