* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    --main: #6C1AEF;
    --secondary: #46109c;
    --background: rgb(33, 16, 36);
    --text: #FB89BC;
    --title: #2FC2EE;
    --content:#7CB4F4;
}